.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 19px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s;
}
.modal__image{
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
  height: auto;
  width: auto;
}

.modal__image-caption{
  position: absolute;
}
.modal__heading {
  color: #000;
  width: 330px;
  height: 23px;
  font-size: 24px;
  font-weight: 900;
  margin: 34px 64px 54px 36px;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

.modal__preview-image{
  background-color: transparent;
  position: relative;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__form-input {
  width: 358px;
  height: 27.34px;
  margin-bottom: 29.74px;
  padding: 0;
  border-style: none none solid none;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
}

.modal__form-input:nth-of-type(2n) {
  margin-bottom: 0;
}

.modal__button {
  font-size: 18px;
  width: 358px;
  height: 50.15px;
  background-color: #000;
  color: #fff;
  margin-top: 48px;
  margin-bottom: 36px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 80%;
}

.modal__close {
  background-image: url("../images/Close\ Icon.svg");
  border: none;
  background-color: transparent;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__button_disabled {
  background-color: #fff;
  border: 1px;
  border-style: solid;
  border-color: #000;
  color: #000;
  opacity: 20%;
}

.modal__label{
  position: relative;
}

.modal__error {
  height: 17px;
  width: 338px;
  color: #ff0000;
  font-size: 12px;
  position: absolute;
  top: 150px;
  left: 35px;
  transition: opacity 0.5s;
  visibility: hidden;
}  

.modal__error_visible {
  opacity: 1 ;
  visibility: visible;
}

@media screen and (max-width: 635px) {
  .modal__container {
    width: 282px;
    height: 322px;
  }
  .modal__form-input {
    width: 238px;
    height: 27px;
  }
  .modal__button {
    width: 238px;
    height: 46px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    top: -45px;
    right: 0;
  }
}